
.background {
background-color:  #240B5C;
}

.navbar {
border-bottom: 5px solid #fff;
}

.sidebar-icon {
margin-right: 15px;
}
.container {
    margin-top: 20px;
  }
  
  h2 {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .table {
    margin-bottom: 20px;
  }
  
  .alert {
    margin-top: 20px;
  }
  
  .sidebar {
    margin-top: 20px;
  }
  
  .user-avatar img {
    border-radius: 50%;
  }
  