<nav class="navbar navbar-expand-lg navbar-dark sticky-top background rounded-bottom">
    <div class="container px-5">
      <ng-container *ngFor="let image of images">
        <a *ngIf="image.alt === 'Logo'" class="navbar-brand" href="index.html"><img [src]="image.src" [alt]="image.alt" [height]="image.height"></a>
        <div *ngIf="image.alt === 'Foto de Usuario'" class="user-avatar">
          <img [src]="image.src" [alt]="image.alt" [height]="image.height">
        </div>
      </ng-container>
    </div>
  </nav>
  
  <div class="sidebar" id="sidebar">
    <ul>
      <li *ngFor="let item of sidebarItems">
        <img [src]="item.icon" alt="Icono" class="sidebar-icon">
        <a href="#">{{ item.name }}</a>
      </li>
    </ul>
  </div>
  
  
