.background {
  background-color:  #240B5C;
}

.logo {
  font-size: 1.5rem;
  line-height: 2rem;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  font-weight: 800;
}

.nav-item {
  list-style-type: none;
}

.nav-link img {
  width: 35px; 
  height: 35px; 
  vertical-align: middle; 
}