<nav class="navbar navbar-expand-lg navbar-dark sticky-top background rounded-bottom">
    <div class="container px-5">
            <a class="navbar-brand" href="index.html"><img src="assets/img/logo.svg" alt="Logo" height="40"></a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
          class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item"><a class="nav-link text-white" routerLink="/">Inicio</a>
          </li>
          <li class="nav-item"><a class="nav-link text-white" routerLink="/destinos">Destinos</a>
          </li>
          <li class="nav-item"><a class="nav-link text-white" routerLink="/nosotros">Nosotros</a>
          </li>
          <li class="nav-item"><a class="nav-link text-white" routerLink="/contacto">Contacto</a>
          </li>
          <form class="d-flex gap-2 px-2" role="search">
            <button *ngIf="!authService.isLoggedIn()" class="btn btn-outline-light me-2" type="button" routerLink="/iniciar-sesion">Iniciar Sesión</button>
            <button *ngIf="!authService.isLoggedIn()" class="btn btn-success registro" type="button" routerLink="/registro">Registrarse</button>
            <button *ngIf="authService.isLoggedIn()" (click)="onLogout()" class="btn btn-outline-light me-2" type="button">Cerrar Sesión</button>
        </form>
          <li class="nav-item"><a class="nav-link text-white text-opacity-75" routerLink="/destinos-cart"><svg
            xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="lucide lucide-shopping-cart">
            <circle cx="8" cy="21" r="1"></circle>
            <circle cx="19" cy="21" r="1"></circle>
            <path d="M2.05 2.05h2l2.66 12.42a2 2 0 0 0 2 1.58h9.78a2 2 0 0 0 1.95-1.57l1.65-7.43H5.12"></path>
          </svg></a></li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/app-dash">
              <img src="https://imgur.com/3wnTK69.png" alt="Dashboard">
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>