<!-- <div class="container product-container">
    <div class="row"> -->
      <!-- <div class="col-md-6 product-image"> -->
        <!-- <img [src]="destino.image" alt="Imagen del Producto"> -->
      <!-- </div> -->
      <!-- <div class="col-md-6 product-details"> -->
        <!-- <div class="product-name">{{destino.name}}</div>
        <div class="product-description">{{destino.description}}</div>
        <div class="product-price">{{ destino.precio }}</div> -->
        <!-- <button class="btn add-to-cart-btn">Agregar al Carrito</button> -->
        <!-- <button class="btn add-to-cart-btn" [routerLink]="['/destinos']">Volver</button> -->
      <!-- </div>
    </div>
  </div> -->