<section class="d-flex align-items-center justify-content-center"  style="min-height: 100vh; background-color: hsl(0, 0%, 96%)">
  <div class="container text-center text-lg-start">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="card">
          <div class="card-body py-5 px-md-5">
          <form class="row" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
            <h1><B>REGISTRO</B></h1>

            <!-- Campo de nombre -->
            <div class="col-md-6 mb-4">
              <label for="name" class="form-label">Nombre</label>
              <input type="text" class="form-control" formControlName="first_name" id="first_name" placeholder="Ingrese su nombre">
              <div *ngIf="formGroup.controls['first_name'].errors && formGroup.controls['first_name'].touched">
                <p *ngIf="formGroup.controls['first_name'].errors['required']" class="text-danger">
                  El nombre es requerido.
                </p>
              </div>
            </div>

            <!-- Campo de apellido -->
            <div class="col-md-6 mb-4">
              <label for="last_name" class="form-label">Apellido</label>
              <input type="text" class="form-control" formControlName="last_name" id="last_name" placeholder="Ingrese su apellido">
              <div *ngIf="formGroup.controls['last_name'].errors && formGroup.controls['last_name'].touched">
                <p *ngIf="formGroup.controls['last_name'].errors['required']" class="text-danger">
                  El apellido es requerido.
                </p>
              </div>
            </div>

            <!-- Campo de email -->
            <div class="col-12 mb-2">
              <label for="inputEmail" class="form-label">Correo Electrónico</label>
              <input type="email" class="form-control" formControlName="email" id="email" placeholder="Ingrese su email">
              <div *ngIf="formGroup.controls['email'].errors && formGroup.controls['email'].touched">
                <p *ngIf="formGroup.controls['email'].errors['required']" class="text-danger">
                  El email es requerido.
                </p>
                <p *ngIf="formGroup.controls['email'].errors['email']" class="text-danger">
                  El formato del email debe ser válido.
                </p>
              </div>
            </div>

            <!-- Campo de contraseña -->
            <div class="col-12 mb-2">
              <label for="inputPass" class="form-label">Contraseña</label>
              <input type="password" class="form-control" formControlName="password" id="inputPass" placeholder="Ingresa tu contraseña">
              <div *ngIf="formGroup.controls['password'].errors && formGroup.controls['password'].touched">
                <p *ngIf="formGroup.controls['password'].errors['required']" class="text-danger">
                  La contraseña es requerida.
                </p>
                <p *ngIf="formGroup.controls['password'].errors['minlength']" class="text-danger">
                  La contraseña debe tener al menos 8 caracteres.
                </p>
                <p *ngIf="formGroup.controls['password'].errors['maxlength']" class="text-danger">
                  La contraseña no puede tener más de 20 caracteres.
                </p>
              </div>
            </div>

            <!-- Campo de repetir contraseña -->
            <div class="col-12 mb-2">
              <label for="inputPass2" class="form-label">Repetir contraseña</label>
              <input type="password" class="form-control" formControlName="password2" id="inputPass2" placeholder="Vuelva a ingresar contraseña">
              <div *ngIf="formGroup.controls['password2'].errors && formGroup.controls['password2'].touched">
                <p *ngIf="formGroup.controls['password2'].errors['required']" class="text-danger">
                  Debes repetir tu contraseña.
                </p>
                <p *ngIf="formGroup.controls['password2'].errors['minlength']" class="text-danger">
                  La contraseña debe tener al menos 8 caracteres.
                </p>
                <p *ngIf="formGroup.controls['password2'].errors['maxlength']" class="text-danger">
                  La contraseña no puede tener más de 20 caracteres.
                </p>
              </div>
            </div>

            <div class="col-12 mb-2">
              <button type="submit" class="btn btn-success btn-block mb-4 text-center">Registrarse</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</section>