

header {background-color: #239398;
        padding: 1em;
}

h4 {
    float: left;
}

body { background-color: #dddbdb ;
    
    
}

section, aside {background-color: #dddbdb;
                padding: 2em ;
}
section {float: left;
        width: 70%
}

aside {
    float: right;
    width: 30%;
    background-color: #dddbdb;
}

.comprita {
    background-color: white;
    padding: 2em;
    border-radius: 20px;
}

.carrito {
    background-color: white;
    padding: 2em;
    border-radius: 20px;
}

.sumita {
    background-color: white;
    padding: 2em;
    border-radius: 20px;
}

h4 {
    float: right;
}

section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
}
footer .contacto_items {
    display: flex;
    flex-direction: row;
    justify-content: right;
    gap: 10px; }
footer .logos {
    width: 250px;
    height: 210px; }

.redes-container ul li a:hover{
        transform: translateY(-3px) scale(1.05);
        box-shadow: 0 5px 5px 0px rgba(0, 0, 0, .4);
        filter: none;
    }

.redes-container ul li .facebook:hover{
        background: var(--facebook);
    }

.redes-container ul li .instagram:hover{
        background: var(--instagram);
    }

    .redes-container ul li .twitter:hover{
    background: var(--twitter);
    }
