@charset "UTF-8";
.cuerpom {
  font-family: 'Open Sans', sans-serif !important;
  border: 5px;
  padding: 10px;
  
  }
  .cuerpom #contflecha {
    position: sticky;
    top: 50px;}
  .cuerpom header div div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    
      .cuerpom header div div nav ul .hovergradual:hover {
        transform: scale(1.1);
        background-color: rgba(250, 11, 11, 0.76); }
      .cuerpom header div div nav ul li a {
        text-decoration: none;
        color: #000;
        font-style: italic; }
      .cuerpom header div div nav ul li a:hover {
        color: black; }
      .cuerpom header div div nav ul li div {
        display: flex;
        flex-direction: row; }
        .cuerpom header div div nav ul li div input[type=text] {
          float: right;
          padding: 14px;
          border: none;
          /* margin-top: 8px;
                                    margin-right: 16px; */
          font-size: 0.7em;
          text-decoration: black;
          color: black;
          background: linear-gradient(311deg, #703a0d 0%, rgba(255, 122, 33, 0.386992) 50%, #d27b00 100%);
          box-shadow: inset 0 0 4px 3px #e2ac7a; }
        .cuerpom header div div nav ul li div ::placeholder {
          color: black;
          opacity: 1;
          font-size: 1.2em;
          font-style: italic;
          text-align: center;
          justify-items: flex-start; }
        .cuerpom header div div nav ul li div button {
          background: linear-gradient(311deg, #703a0d 0%, rgba(255, 122, 33, 0.386992) 50%, #d27b00 100%);
          box-shadow: inset 0 0 4px 3px #e2ac7a;
          height: 2.7em;
          width: 2.7em;
          border: none; }
  .cuerpom header div #barrafija {
    margin: 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px; }
    .cuerpom header div #barrafija a {
      transition: all 0.5s ease-in-out;
      text-decoration: none;
      color: #000;
      display: flex;
      flex-direction: row;
      justify-content: baseline;
      align-items: flex-start; }
      .cuerpom header div #barrafija a #carrito {
        transform: skewX(-30deg);
        transition: all 0.5s ease-in-out; }
    .cuerpom header div #barrafija #logo {
      background-color: #239398;
      display: block;
      width: 5%;
      height: 5%;
      padding: 5px 0 5px 0;
      transform: skewX(30deg);
      transition: all 0.5s ease-in-out; 
      object-fit: cover;
      width:100%;
      height:100%;}
    .cuerpom header div #barrafija #carrito:hover {
      transform: scale(1.1); }
    .cuerpom header div #barrafija #logo:hover {
      transform: scale(1.1); }
    .cuerpom header div #barrafija #registro {
      width: auto;
      border-radius: 60%;
      font-weight: 500;
      padding: 5px;
      background: radial-gradient(rgba(252, 255, 251, 0.9) 0%, rgba(206, 179, 104, 0.4) 30%, rgba(218, 186, 81, 0.01) 70%, rgba(226, 219, 197, 0) 70%, rgba(201, 165, 132, 0.9) 100%); }
    .cuerpom header div #barrafija #ingreso {
      width: auto;
      font-weight: 500;
      border-radius: 60%;
      padding: 5px;
      background: radial-gradient(rgba(252, 255, 251, 0.9) 0%, rgba(206, 179, 104, 0.4) 30%, rgba(218, 186, 81, 0.01) 70%, rgba(226, 219, 197, 0) 70%, rgba(201, 165, 132, 0.9) 100%); }
    .cuerpom header div #barrafija #registro:hover {
      transform: scale(1.1);
      background-color: rgba(235, 206, 206, 0.5); }
    .cuerpom header div #barrafija #ingreso:hover {
      transform: scale(1.1);
      background-color: rgba(235, 206, 206, 0.5); }
  .cuerpom header div .travel {
    padding: 20px 0 20px 0;}
    .cuerpom header div .travel h1 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
    .cuerpom header div .travel .ache1 {
      color: chocolate;
      font-style: italic;
      font-weight: bold;
      font-size: 300%;
      letter-spacing: 50px;
      width: 100%;
      height: auto; }

/*inicio animaciones*/
@keyframes movimiento {
  0% {
    font-size: 50px; }
  50% {
    font-size: 100px; } }

/*fin animaciones*/
main p {
  font-style: normal;
  font-weight: 500;
  font-size: large;
  text-align: left;
  text-transform: none;
  line-height: 25px;
  text-decoration: wavy;
  letter-spacing: 1px;
  word-spacing: 1px;
  color: black; }

main span {
  font-style: normal;
  font-weight: 500;
  font-size: large;
  line-height: 25px;
  letter-spacing: 0px;
  word-spacing: 1px;
  color: black; }

main .titulo {
  margin: 10px 0 10px 0; }

main .ache2 {
  color: #554415;
  font-size: 1.8em;
  font-weight: 800; }

main .goma:hover {
  display: inline-block;
  animation: goma 1s; }

main .ache3 {
  color: #62462c; }

main .ache4 {
  color: #464544;
  font-size: 12px;
  font-weight: auto;
  text-align: left;
  background: rgba(195, 143, 45, 0.541);
  margin: 0 0 50px;
  padding: 7px;
  border-radius: 35px 35px 35px 35px; }

main .alineacion {
  text-align: justify;
  text-decoration: none;
  text-transform: none; }

main .spanespecial {
  font-style: normal;
  font-weight: lighter;
  font-size: medium;
  line-height: 39px;
  letter-spacing: 1px;
  word-spacing: 1px;
  color: #14145c;
  margin: 0 1vw 0 1vw; }

main .parrafo1 {
  text-align: center; }

main .sobresalir:hover {
  transform: scale(1.1); }

main .ache4:hover {
  color: chocolate;
  font-weight: 600; }

main section div a {
  text-decoration: none; }

main #seccionnosotros {
  margin-top: 10px;
  border: solid 5px #804000;
  padding: 0 10px 0 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  main #seccionnosotros div span {
    margin-left: 1px;
    margin-right: 1px; }
  main #seccionnosotros div .imagen {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
    margin-bottom: 5px;
    box-shadow: 0px 0px 10px 8px #1f1e1e; }


main #seccioncatego {
  margin-bottom: 20px;
  border-right: dotted 5px #804000;
  border-left: dotted 5px #804000;
  padding: 0px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center; }
  main #seccioncatego div div {
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center; }
    main #seccioncatego div div div span {
      margin-left: 1px;
      margin-right: 1px; }

main .contenedors2 {
  position: relative;
  display: inline-block;
  text-align: center; }
  main .contenedors2 .hijos2 {
    position: absolute;
    transition: all 1s ease-in-out; }
    main .contenedors2 .hijos2 .ache3 {
      color: beige;
      font-family: 'Open Sans', sans-serif;
      font-style: italic;
      margin: 0; }

main .contenedors2:hover .hijos2 {
  background-color: #62462ce5;
  border-radius: 350px;
  z-index: 1000; }

main #seccionconsejos {
  margin: 0;
  border-right: dotted 5px #804000;
  border-left: dotted 5px #804000;
  padding: 0 10px 0 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  main #seccionconsejos #divs4 {
    margin: 0 0.5vw 0 2vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }

main #seccioncomenta {
  background-color: rgb(223, 213, 213);
  margin: 0;
  border: solid 5px #666;
  padding: 0 10px 0 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  main #seccioncomenta div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5px 0 5px 0; }
    main #seccioncomenta div div span {
      margin-left: 1px;
      margin-right: 1px; }
  main #seccioncomenta .sombra {
    box-shadow: 0 0 7px 4px rgba(0, 0, 0, 0.438); }
    main #seccioncomenta .sombra img {
      width: 100%;
      height: auto; }

@keyframes goma {
  0% {
    transform: scale3d(1, 1, 1); }
  35% {
    transform: scale3d(1.25, 0.75, 1); }
  45% {
    transform: scale3d(0.75, 1, 1); }
  60% {
    transform: scale3d(1.2, 0.8, 1); }
  75% {
    transform: scale3d(1.05, 0.95, 1); }
  100% {
    transform: scale3d(1, 1, 1); } }

/*Títulos y parrafos en todas las secciones*/
.ache2 {
  color: #554415; }

.ache3 {
  color: #62462c; }

.ache4 {
  color: #464544;
  font-size: 12px;
  font-weight: auto;
  text-align: left;
  background: rgba(195, 143, 45, 0.541);
  margin: 0 0 50px;
  padding: 7px;
  border-radius: 35px 35px 35px 35px; }

p {
  font-style: normal;
  font-weight: lighter;
  font-size: medium;
  text-align: left;
  text-transform: none;
  line-height: 25px;
  text-decoration: wavy;
  letter-spacing: 1px;
  word-spacing: 1px;
  color: black; }

span {
  font-style: normal;
  font-weight: lighter;
  font-size: medium;
  line-height: 25px;
  letter-spacing: 0px;
  word-spacing: 1px;
  color: black; }

.alineacion {
  text-align: justify;
  text-decoration: none;
  text-transform: none; }

.spanespecial {
  font-style: normal;
  font-weight: lighter;
  font-size: medium;
  line-height: 39px;
  letter-spacing: 1px;
  word-spacing: 1px;
  color: #14145c;
  margin: 0 1vw 0 1vw; }

.volver {
  width: 15%;
  padding: 10px 20px;
  border: 0px solid #000;
  border-collapse: collapse;
  text-align: center;
  background: linear-gradient(311deg, #703a0d 0%, rgba(255, 122, 33, 0.386992) 50%, #d27b00 100%);
  box-shadow: inset 0 0 4px 3px #e2ac7a;
  transition: all 1s; }
  .volver a {
    text-decoration: none;
    color: black; }

.volver:hover {
  transform: scale(1.1);
  background-color: rgba(235, 206, 206, 0.5); }

main div div div div .contimagen {
  position: relative;
  width: 600px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto; }

main div div div div div .sombra {
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: inset 0px 0px 12px 8px #e2ac7a;
  top: 0;
  left: 0; }

main div div div div div .tamaño2 {
  width: 600px;
  height: auto;
  box-shadow: 0px 0px 15px 12px rgba(226, 172, 122, 0.794); }

main div div div div div div .tamaño {
  width: 290px !important;
  height: 175px !important;
  border: solid 3px rgba(255, 255, 255, 0.794) !important;
  display: block;
  margin-left: auto;
  margin-right: auto; }


main {
  margin-bottom: 2em; }

footer {
  border-top: solid 1px #494444;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  footer .contacto_items {
    display: flex;
    flex-direction: row;
    justify-content: right;
    gap: 10px; }
  footer .logos {
    width: 250px;
    height: 210px; }
    footer .logos h2 {
      font-size: 1.2rem;
      text-align: center; }
  footer #fprovedores #fproveedores {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em; }
    footer #fprovedores #fproveedores h2 {
      margin-top: 1.5em;
      margin-bottom: 1em; }
    footer #fprovedores #fproveedores div {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      margin-bottom: 15px; }
      footer #fprovedores #fproveedores div img {
        margin: 1px;
        width: 15%;
        height: auto; }
  footer #fcontacto div #divcon #divlista_con {
    text-align: center; }
    footer #fcontacto div #divcon #divlista_con #divcontacto {
      list-style: none; }
      footer #fcontacto div #divcon #divlista_con #divcontacto li {
        margin-left: -30px; }
    footer #fcontacto div #divate #divlista_ate {
    text-align: center; }
    footer #fcontacto div #divate #divlista_ate #divatencion {
      list-style: none;
      text-align: left;
      display: inline-block; }
      footer #fcontacto div #divate #divlista_ate #divatencion li {
        margin-left: -30px; }
        footer #fcontacto div #divate #divlista_ate #divatencion li a {
          text-decoration: none;
          color: black; }
  footer #finfo {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    width: 500px; }
    footer #finfo div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
    footer #finfo #divlista_red {
      margin-left: -50px; }
      footer #finfo #divlista_red #divredes {
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center; }
        footer #finfo #divlista_red #divredes li {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          margin: 0px 10px 0px 50px; }
    footer #finfo div img {
      margin-bottom: 10px; }
    
    .redes-container{
        display: flex;
        height: 100vh;
        align-items: center;
        justify-content: center;
    }
    
    .redes-container ul li{
        display: inline-block;
        margin: 0 5px;
        width: 50px;
        height: 50px; 
         text-align: center; 
        
    }
    
    .redes-container ul li a{
        display: block;
        padding: 0 10px;
        background: #333;
        color: #fff;
        line-height: 50px;
        font-size: 18px;
        box-shadow: 0 3px 5px 0px rgba(0, 0, 0, .2);
        transition: .2s;
    }
    
    .redes-container ul:hover a{
        filter: blur(2px);
    }
    
    .redes-container ul li a:hover{
        transform: translateY(-3px) scale(1.05);
        box-shadow: 0 5px 5px 0px rgba(0, 0, 0, .4);
        filter: none;
    }
    
    .redes-container ul li .facebook:hover{
        background: var(--facebook);
    }
    
    .redes-container ul li .instagram:hover{
        background: var(--instagram);
    }
    
    .redes-container ul li .twitter:hover{
        background: var(--twitter);
    }
@media only screen and (max-width: 480px) {
  #cuerpoindex header {
    font-size: 60%; }
    #cuerpoindex header #barrafija {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center; }
      #cuerpoindex header #barrafija a {
        transition: none; }
        #cuerpoindex header #barrafija a #carrito {
          width: 50%;
          height: auto;
          transform: translateX(19.5px); }
      #cuerpoindex header #barrafija img {
        transition: none; }
      #cuerpoindex header #barrafija #logo {
        display: block;
        width: 10%;
        height: auto; }
    #cuerpoindex header #navbarra nav ul {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(5, 1fr);
      grid-template-areas: "nos";
      justify-items: center;
      align-items: center;
      margin-top: 10px;
      transform: translateX(-20px); }
      #cuerpoindex header #navbarra nav ul li div button {
        height: 37px;
        width: auto; }
      #cuerpoindex header #navbarra nav ul #nos {
        grid-area: nos; }
      #cuerpoindex header #navbarra nav ul #cat {
        grid-area: cat; }
      #cuerpoindex header #navbarra nav ul #ven {
        grid-area: ven; }
      #cuerpoindex header #navbarra nav ul #con {
        grid-area: con; }
      #cuerpoindex header #navbarra nav ul #come {
        grid-area: come; }
    #cuerpoindex header #travel {
      align-items: center;
      margin: 0px;
      padding: 0px; }
    #cuerpoindex header .travel {
      background: none;
      box-shadow: none; }
      #cuerpoindex header .travel h1 {
        animation: none;
        font-size: 400%;
        letter-spacing: 10px;
        width: 100%; }
  #cuerpoindex main section {
    font-size: 75%; }
    #cuerpoindex main section div .imagen {
      width: 90%;
      height: auto;
      margin-bottom: 5px; }
  #cuerpoindex main #seccionnosotros img {
    display: none; }
  #cuerpoindex main #seccioncatego {
    margin-bottom: 0px; }
    #cuerpoindex main #seccioncatego div div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center; }
      #cuerpoindex main #seccioncatego div div .titulo {
        display: flex;
        flex-direction: row;
        justify-content: baseline;
        align-items: center; }
      #cuerpoindex main #seccioncatego div div div a div img {
        display: none; }
  #cuerpoindex main .ache2 {
    text-align: center; }
  #cuerpoindex main .alineacion {
    text-align: center;
    text-decoration: none;
    text-transform: none; }
  #cuerpoindex main #seccionconsejos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center; }
    #cuerpoindex main #seccionconsejos #divs4 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center; }
      #cuerpoindex main #seccionconsejos #divs4 div span {
        line-height: 25px;
        word-spacing: 5px; }
    #cuerpoindex main #seccionconsejos div div {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-content: center; }
      #cuerpoindex main #seccionconsejos div div img {
        width: 100%;
        height: auto;
        margin-bottom: 2px; }
  #cuerpoindex main #seccioncomenta div img {
    display: none; }
  #cuerpoindex footer {
    display: flex;
    flex-direction: column; }
    #cuerpoindex footer #fproveedores div {
      width: 80%;
      display: flex;
      flex-direction: column; }
      #cuerpoindex footer #fproveedores div img {
        width: 50%; }
    #cuerpoindex footer #fcontacto div {
      font-size: 90%;
      width: auto;
      height: auto;
      margin-top: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center; }
      #cuerpoindex footer #fcontacto div div div ul {
        text-align: center;
        margin: 0px 3px 0px 3px; }
      #cuerpoindex footer #fcontacto div #divmapa {
        transform: translateX(0px); }
        #cuerpoindex footer #fcontacto div #divmapa iframe {
          width: 70%; }
      #cuerpoindex footer #fcontacto div #divate {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center; }
        #cuerpoindex footer #fcontacto div #divate div #divatencion {
          text-align: center; }
      #cuerpoindex footer #fcontacto div #divnewsletter {
        transform: translateX(0px); }
    #cuerpoindex footer #finfo {
      width: 100%;
      height: auto; }
      #cuerpoindex footer #finfo div #divredes {
        display: flex;
        flex-direction: row;
        transform: translate(-10px, 10px); }
      #cuerpoindex footer #finfo #copydesk {
        display: none; }
      #cuerpoindex footer #finfo #copymobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 10px; }
    #cuerpoindex footer .ache4 {
      margin: 2px 0 2px 0; }

  #cuerpoingreso header {
    font-size: 60%; }
    #cuerpoingreso header #barrafija {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center; }
      #cuerpoingreso header #barrafija a {
        transition: none; }
        #cuerpoingreso header #barrafija a #carrito {
          width: 50%;
          height: auto;
          transform: translateX(19.5px); }
      #cuerpoingreso header #barrafija img {
        transition: none; }
      #cuerpoingreso header #barrafija #logo {
        display: block;
        width: 10%;
        height: auto; }
    #cuerpoingreso header #volver {
      width: 100%;
      margin: 10px 0 30px 0; }
  #cuerpocarro header {
    font-size: 60%; }
    #cuerpocarro header #barrafija {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center; }
      #cuerpocarro header #barrafija a {
        transition: none; }
        #cuerpocarro header #barrafija a #carrito {
          width: 50%;
          height: auto;
          transform: translateX(19.5px); }
      #cuerpocarro header #barrafija img {
        transition: none; }
      #cuerpocarro header #barrafija #logo {
        display: block;
        width: 10%;
        height: auto; }
    #cuerpocarro header #volver {
      width: 100%;
      padding: 10px 0 10px 0;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center; } }

@media only screen and (min-width: 481px) and (max-width: 768px) {
  #cuerpoindex header {
    font-size: 90%; }
    #cuerpoindex header #barrafija {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center; }
      #cuerpoindex header #barrafija a {
        transition: none; }
        #cuerpoindex header #barrafija a #carrito {
          width: 90%;
          height: auto; }
      #cuerpoindex header #barrafija img {
        transition: none; }
      #cuerpoindex header #barrafija #logo {
        display: block;
        width: 10%;
        height: auto; }
    #cuerpoindex header #navbarra nav ul {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(5, 1fr);
      grid-template-areas: "nos";
      justify-items: center;
      align-items: center;
      margin-top: 10px;
      transform: translateX(-20px); }
      #cuerpoindex header #navbarra nav ul li div button {
        height: 37px;
        width: auto; }
      #cuerpoindex header #navbarra nav ul #nos {
        grid-area: nos; }
      #cuerpoindex header #navbarra nav ul #cat {
        grid-area: cat; }
      #cuerpoindex header #navbarra nav ul #ven {
        grid-area: ven; }
      #cuerpoindex header #navbarra nav ul #con {
        grid-area: con; }
      #cuerpoindex header #navbarra nav ul #come {
        grid-area: come; }
    #cuerpoindex header #travel {
      align-items: center;
      margin: 0px;
      padding: 0px; }
    #cuerpoindex header .travel {
      background: none;
      box-shadow: none; }
      #cuerpoindex header .travel h1 {
        animation: none;
        font-size: 400%;
        letter-spacing: 10px;
        width: 100%; }
  #cuerpoindex main section {
    font-size: 75%; }
    #cuerpoindex main section div .imagen {
      width: 90%;
      height: auto;
      margin-bottom: 5px; }
  #cuerpoindex main #seccioncatego {
    margin-bottom: 0px; }
    #cuerpoindex main #seccioncatego div div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center; }
      #cuerpoindex main #seccioncatego div div .titulo {
        display: flex;
        flex-direction: row;
        justify-content: baseline;
        align-items: center; }
      #cuerpoindex main #seccioncatego div div div a div img {
        display: none; }
#cuerpoindex main .ache2 {
    text-align: center; }
#cuerpoindex main #seccionconsejos div div img {
        width: 100%;
        height: auto;
        margin-bottom: 2px; }
  #cuerpoindex main #seccioncomenta div img {
    display: none; }
  #cuerpoindex footer {
    display: flex;
    flex-direction: column; }
    #cuerpoindex footer #fproveedores div {
      width: 80%;
      display: flex;
      flex-direction: column; }
      #cuerpoindex footer #fproveedores div img {
        width: 50%; }
    #cuerpoindex footer #fcontacto div {
      font-size: 90%;
      width: auto;
      height: auto;
      margin-top: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center; }
      #cuerpoindex footer #fcontacto div div div ul {
        text-align: center;
        margin: 0px 3px 0px 3px; }
      #cuerpoindex footer #fcontacto div #divmapa {
        transform: translateX(0px); }
        #cuerpoindex footer #fcontacto div #divmapa iframe {
          width: 70%; }
      #cuerpoindex footer #fcontacto div #divate {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center; }
        #cuerpoindex footer #fcontacto div #divate div #divatencion {
          text-align: center; }
      #cuerpoindex footer #fcontacto div #divnewsletter {
        transform: translateX(0px); }
    #cuerpoindex footer #finfo {
      width: 100%;
      height: auto; }
      #cuerpoindex footer #finfo div #divredes {
        display: flex;
        flex-direction: row;
        transform: translate(-10px, 10px); }
      #cuerpoindex footer #finfo #copydesk {
        display: none; }
      #cuerpoindex footer #finfo #copymobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 10px; }
    #cuerpoindex footer .ache4 {
      margin: 2px 0 2px 0; }
  
  #cuerpoingreso header {
    font-size: 90%; }
    #cuerpoingreso header #barrafija {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center; }
      #cuerpoingreso header #barrafija a {
        transition: none; }
        #cuerpoingreso header #barrafija a #carrito {
          width: 80%;
          height: auto; }
      #cuerpoingreso header #barrafija img {
        transition: none; }
      #cuerpoingreso header #barrafija #logo {
        display: block;
        width: 10%;
        height: auto; }
    #cuerpoingreso header #volver {
      width: 100%;
      margin: 10px 0 30px 0; }
  #cuerporegistro header {
    font-size: 90%; }
    #cuerporegistro header #barrafija {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center; }
      #cuerporegistro header #barrafija a {
        transition: none; }
        #cuerporegistro header #barrafija a #carrito {
          width: 80%;
          height: auto; }
      #cuerporegistro header #barrafija img {
        transition: none; }
      #cuerporegistro header #barrafija #logo {
        display: block;
        width: 10%;
        height: auto; }
    #cuerporegistro header .volver {
      width: 100%;
      margin: 10px 0 30px 0; }
  #cuerpocarro header {
    font-size: 90%; }
    #cuerpocarro header #barrafija {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center; }
      #cuerpocarro header #barrafija a {
        transition: none; }
        #cuerpocarro header #barrafija a #carrito {
          width: 80%;
          height: auto; }
      #cuerpocarro header #barrafija img {
        transition: none; }
      #cuerpocarro header #barrafija #logo {
        display: block;
        width: 10%;
        height: auto; }
    #cuerpocarro header #volver {
      width: 100%;
      padding: 10px 0 10px 0;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center; } }

@media only screen and (min-width: 769px) and (max-width: 1200px) {
  header {
    font-size: 100%; }
    header #barrafija {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center; }
      header #barrafija a {
        transition: none; }
        header #barrafija a #carrito {
          width: 100%;
          height: auto; }
      header #barrafija img {
        transition: none; }
      header #barrafija #logo {
        display: block;
        width: 10%;
        height: auto; }
    header #navbarra nav ul {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(5, 1fr);
      grid-template-areas: "nos";
      justify-items: center;
      align-items: center;
      margin-top: 10px;
      transform: translateX(-20px); }
      header #navbarra nav ul li div button {
        height: 37px;
        width: auto; }
      header #navbarra nav ul #nos {
        grid-area: nos; }
header #travel {
      align-items: center;
      margin: 0px;
      padding: 0px; }
    header .travel {
      background: none;
      box-shadow: none; }
      header .travel h1 {
        animation: none;
        font-size: 400%;
        letter-spacing: 10px;
        width: 100%; }
  
@media only screen and (min-width: 2560px) {
  header {
    font-size: 150%; }
    header #barrafija {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center; }
      header #barrafija a {
        transition: none; }
        header #barrafija a #carrito {
          transform: none !important;
          width: 150%;
          height: auto; }
      header #barrafija img {
        transition: none; }
      header #barrafija #logo {
        display: block;
        width: 10%;
        height: auto;
        transform: none !important; }
    header #travel {
      align-items: center;
      margin: 0px;
      padding: 0px; }
    header .travel {
      background: none;
      box-shadow: none; }
      header .travel h1 {
        animation: none;
        font-size: 400%;
        letter-spacing: 10px;
        width: 100%; }
  main {
    font-size: 160%; }
    main p {
      font-size: 110%;
      line-height: 60px; }
    main span {
      font-size: 180%;
      line-height: 60px; }
    }