<div [ngSwitch]="id">
    <div *ngSwitchCase="'1'" class="container">
        <div class="row">
            <div class="col">
                <img   src="assets/team/1.jpg" alt="">
            </div>
            <div class="col">
                <h1 class="mt-5 display-4 ">Cantarino, Emmanuel</h1>
                <h3>Full Stack</h3>
                <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit adipisci tempore labore? Accusantium debitis ipsam, quae necessitatibus quaerat molestias non enim expedita commodi quibusdam quam rerum numquam voluptate ipsum doloribus?</p> -->
            </div>
        </div>
    </div>
    <div *ngSwitchCase="'2'" class="container">
        <div class="row">
            <div class="col">
                <img   src="assets/team/2.jpg" alt="">
            </div>
            <div class="col">
                <h1 class="mt-5 display-4 ">Cascallares, Facundo</h1>
                <h3>Full Stack</h3>
                <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit adipisci tempore labore? Accusantium debitis ipsam, quae necessitatibus quaerat molestias non enim expedita commodi quibusdam quam rerum numquam voluptate ipsum doloribus?</p> -->
            </div>
        </div>
    </div>
    <div *ngSwitchCase="'3'" class="container">
        <div class="row">
            <div class="col">
                <img   src="assets/team/2.jpg" alt="">
            </div>
            <div class="col">
                <h1 class="mt-5 display-4 ">Fernandez, Claudio Ranses</h1>
                <h3>Full Stack</h3>
                <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit adipisci tempore labore? Accusantium debitis ipsam, quae necessitatibus quaerat molestias non enim expedita commodi quibusdam quam rerum numquam voluptate ipsum doloribus?</p> -->
            </div>
        </div>
    </div>
    <div *ngSwitchCase="'4'" class="container">
        <div class="row">
            <div class="col">
                <img   src="assets/team/3.jpg" alt="">
            </div>
            <div class="col">
                <h1 class="mt-5 display-4 ">González, Natalia</h1>
                <h3 class="display-5">Full Stack</h3>
                <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit adipisci tempore labore? Accusantium debitis ipsam, quae necessitatibus quaerat molestias non enim expedita commodi quibusdam quam rerum numquam voluptate ipsum doloribus?</p> -->
            </div>
        </div>
    </div>
    <div *ngSwitchCase="'5'" class="container">
        <div class="row">
            <div class="col">
                <img   src="assets/team/4.jpg" alt="">
            </div>
            <div class="col">
                <h1 class="mt-5 display-4 ">Navarrete, Romina Gabriela</h1>
                <h3 class="display-5">Full Stack</h3>
                <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit adipisci tempore labore? Accusantium debitis ipsam, quae necessitatibus quaerat molestias non enim expedita commodi quibusdam quam rerum numquam voluptate ipsum doloribus?</p> -->
            </div>
        </div>
    </div>
    <div *ngSwitchCase="'6'" class="container">
        <div class="row">
            <div class="col">
                <img   src="assets/team/5.jpg" alt="">
            </div>
            <div class="col">
                <h1 class="mt-5 display-4 ">Oro, Elias</h1>
                <h3 class="display-5">Full Stack</h3>
                <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit adipisci tempore labore? Accusantium debitis ipsam, quae necessitatibus quaerat molestias non enim expedita commodi quibusdam quam rerum numquam voluptate ipsum doloribus?</p> -->
            </div>
        </div>
    </div>
    <div *ngSwitchCase="'7'" class="container">
        <div class="row">
            <div class="col">
                <img   src="assets/team/6.jpg" alt="">
            </div>
            <div class="col">
                <h1 class="mt-5 display-4 ">Ortiz, Fernando Ariel</h1>
                <h3 class="display-5">Full Stack</h3>
                <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit adipisci tempore labore? Accusantium debitis ipsam, quae necessitatibus quaerat molestias non enim expedita commodi quibusdam quam rerum numquam voluptate ipsum doloribus?</p> -->
            </div>
        </div>
    </div>
    <div *ngSwitchCase="'8'" class="container">
        <div class="row">
            <div class="col">
                <img   src="assets/team/7.jpg" alt="">
            </div>
            <div class="col">
                <h1 class="mt-5 display-4 ">Soto Valenzuela, Juan Gabriel</h1>
                <h3 class="display-5">Full Stack</h3>
                <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit adipisci tempore labore? Accusantium debitis ipsam, quae necessitatibus quaerat molestias non enim expedita commodi quibusdam quam rerum numquam voluptate ipsum doloribus?</p> -->
            </div>
        </div>
    </div>
    <p *ngSwitchDefault>...</p>
  </div>
