*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
 body{
    background-color: rgb(239, 239, 239);
 }
.row {
    display: flex;
    width: 500px;
    height: 600px;
    padding: 30px;
    margin: auto;
    background-color: white;
}

.mb-4 {
    height: 40px;
}

.btn {
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: center;
    padding: 3px;
    margin-top: 25px;
    background: #D32788;
    border-color:#D32788;
    color: white;

}

