  <!-- <section class="h-100 gradient-custom">
    <div class="container py-5">
        <div class="row d-flex justify-content-center my-4">
            <div class="col-md-8">
                <div class="card mb-4" *ngFor="let item of carritoItems; let i = index">
                    <div class="card-body">
                        
                        <div class="row">
                            <div class="col-lg-3 col-md-12 mb-4 mb-lg-0">
                                
                                <div class="bg-image hover-zoom ripple rounded">
                                    <img [src]="item.image || 'url_de_imagen_por_defecto'" class="card-img-top" alt="...">
                                </div>
                            </div>
                            <div class="col-lg-5 col-md-6 mb-4 mb-lg-0">
                               
                                 <p><strong>{{destino.name}}</strong></p> -->
                                <!-- <p><strong>{{ item.nombre_Destino }}</strong></p> -->
                                <!-- <p>{{destino.description}}</p> -->
                                <!-- <p>{{ item.descripcion }}</p>
                                <button type="button"  (click)="eliminarItem(item.id)"class="btn btn-primary btn-sm me-1 mb-2">
                                    <i class="fas fa-trash"></i>
                                </button>
                                <button type="button" class="btn btn-danger btn-sm mb-2">
                                    <i class="fas fa-heart"></i>
                                </button>
                            </div>
                            <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                               <div class="d-flex mb-4" style="max-width: 300px">
                                    <button class="btn btn-primary px-3 me-2" onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                    <input id="form1" min="0" name="quantity" value="1" type="number" class="form-control text-center w-25">
                                    <button class="btn btn-primary px-3 ms-2" onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                                        <i class="fas fa-plus"></i>
                                    </button>
                                </div> --> 
                                <!-- Price -->
                                <!-- <p class="text-start text-md-center">
                                    <p class="card-text">Cantidad: {{ item.cantidad }}</p>
                                    <p><strong>{{ item.precio_Destino }}</strong>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-4 mb-lg-0">
                    <div class="card-body">
                        <p><strong>Aceptamos</strong></p>
                        <img class="me-2" width="45px"
                            src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/visa.svg"
                            alt="Visa">
                        <img class="me-2" width="45px"
                            src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/amex.svg"
                            alt="American Express">
                        <img class="me-2" width="45px"
                            src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/mastercard.svg"
                            alt="Mastercard">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-header py-3">
                        <h5 class="mb-0">Resumen</h5>
                    </div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                                <div>
                                    <strong>Total</strong>
                                </div>
                                <span><strong>450 USD</strong></span>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-primary btn-lg btn-block">Proceder al checkout
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> --> 

<section class="h-100 gradient-custom">
    <div class="container py-5">
      <div class="row d-flex justify-content-center my-4">
        <div class="col-md-8">
          <div class="card mb-4" *ngFor="let item of carritoItems; let i = index">
            <div class="card-body">
              <!-- Single item -->
              <div class="row">
                <div class="col-lg-3 col-md-12 mb-4 mb-lg-0">
                  <!-- Image -->
                  <div class="bg-image hover-zoom ripple rounded">
                    <img [src]="item.image || defaultImage" alt="{{ item.nombre_Destino }}">
                  </div>
                </div>
                <div class="col-lg-5 col-md-6 mb-4 mb-lg-0">
                  <!-- Data -->
                  <p><strong>{{ item.nombre_Destino }}</strong></p>
                  <p>{{ item.descripcion }}</p>
                  <button type="button" (click)="eliminarItem(item.id_destino)" class="btn btn-primary btn-sm me-1 mb-2">
                    <i class="fas fa-trash"></i>
                  </button>
                  <button type="button" class="btn btn-danger btn-sm mb-2">
                    <i class="fas fa-heart"></i>
                  </button>
                </div>
                <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                  <!-- Quantity -->
                  <div class="d-flex mb-4" style="max-width: 300px">
                    <button class="btn btn-primary px-3 me-2" (click)="actualizarCantidad(item, item.cantidad - 1)">
                      <i class="fas fa-minus"></i>
                    </button>
                    <input [value]="item.cantidad" type="number" class="form-control text-center w-25" readonly>
                    <button class="btn btn-primary px-3 ms-2" (click)="actualizarCantidad(item, item.cantidad + 1)">
                      <i class="fas fa-plus"></i>
                    </button>
                  </div>
                  <!-- Price -->
                  <p class="text-start text-md-center">
                    <p class="card-text">Cantidad: {{ item.cantidad }}</p>
                    <p><strong>{{ item.precio_Destino | currency }}</strong></p>
                  
                </div>
              </div>
            </div>
          </div>
          <div class="card mb-4 mb-lg-0">
            <div class="card-body">
              <p><strong>Aceptamos</strong></p>
              <img class="me-2" width="45px"
                   src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/visa.svg"
                   alt="Visa">
              <img class="me-2" width="45px"
                   src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/amex.svg"
                   alt="American Express">
              <img class="me-2" width="45px"
                   src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/mastercard.svg"
                   alt="Mastercard">
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4">
            <div class="card-header py-3">
              <h5 class="mb-0">Resumen</h5>
            </div>
            <div class="card-body">
              <ul class="list-group list-group-flush">
                <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                  <div>
                    <strong>Total</strong>
                  </div>
                  <span><strong>{{ total | currency }}</strong></span>
                </li>
              </ul>
              <button type="button" (click)="checkout()" class="btn btn-primary btn-lg btn-block">Proceder al checkout</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  