<div class="carrito-container">
    <h2>Tu Carrito</h2>
    <div *ngIf="carritoItems.length === 0">
      <p>No hay artículos en tu carrito.</p>
    </div>
    <div *ngIf="carritoItems.length > 0">
      <div *ngFor="let item of carritoItems" class="carrito-item">
        <p>{{ item.id_destino.nombre_Destino }} - {{ item.id_destino.precio_Destino }} USD</p>
        <p>Cantidad: {{ item.cantidad }}</p>
        <button (click)="agregarItem(item.id_destino.id_destino, item.id_metodoPago.id_metodoPago)">Agregar</button>
        <button (click)="eliminarItem(item.id)">Eliminar</button>
      </div>
      <h3>Total: {{ total }} USD</h3>
      <button (click)="checkout()">Checkout</button>
    </div>
  </div>
  