<h2 class="fw-bolder mb-3 text-center px-5 my-5">Nuestros Destinos</h2>
<div class="container-fluid mt-5">
    <div *ngIf="imagenList.length>0" class="row">
      <div  *ngFor="let item of imagenList"  class="col-md-3">
        <div class="card custom-card">
          <img [src]="item.url" class="card-img-top" alt="..." >
          <div class="card-body">
            <h5 class="card-title">{{item.name}}</h5>
            <p class="card-text">{{item.description}}</p>
            <a href="#" class="btn btn-secondary custom-btn">Comprar</a>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="imagenList.length==0">
      <p class="alert alert-danger">No records found
      </p>
    </div>
  </div>
<router-outlet></router-outlet>
  

