<!-- <h2 class="custom-title">{{ titulo }}</h2> -->
<div class="container-fluid mt-4">
  <div *ngIf="imagenList.length>0" class="row">
    <div  *ngFor="let item of imagenList"  class="col-md-3">
      <div class="card custom-card mb-3">
        <img [src]="item.url" class="card-img-top" alt="..." >
        <div class="card-body">
          <h5 class="card-title">{{item.name}}</h5>
          <p class="card-text">{{item.description}}</p>
          <a href="#" class="btn btn-secondary custom-btn">Comprar</a>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="imagenList.length==0">
    <p class="alert alert-danger">No records found
    </p>
  </div>
</div>