.carousel-caption h1 {             /* Texto Grande de Imagen 1 */
    font-weight: bold;
  /*   color: rgb(252, 89, 89); */
    /* color: #240B5C; */          /* Lo comente para que el texto sea blanco */
    padding-top: 100px;
}

.btn-slider {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.btn-slider .btn {
    margin: 0 10px; 
    /* border-color: #240B5C; */
    color: #ffffff;
    border-width: 2px;
    font-weight: bold;
}

.btn-slider .btn:hover {
    background-color: #240B5C; 
    border-color: #240B5C; 
    color: #ffffff; 
}

/* ▼▼▼▼▼ Estilos de los textos las imagenes ▼▼▼▼▼  */
/* Tener en cuenta que los estilos estan aplicados sobre los Selectores <p> y <h>, si se cambia en html se debe reconfigurar aqui */

/* .slider1 h1 {                      Texto Grande Imagen 1 - Esta comentado por si se necesitara despues
  color: #ffffff;
  font-weight: bold;
} */

.slider1 p {                            /* Texto chico Imagen 1 */
    color: #ffffff;
    background-color: rgba(69, 71, 167, 0.5);   
    font-weight: bold;
  }

.slider2 h2 {                           /* Texto Grande de Imagen 2 */
  color: white; 
  font-weight: bold;
}

.slider2 p {                            /* Texto chico de Imagen 2 */
  color: white;
  font-weight: bold;
}

.slider3 h2 {                           /* Texto Grande de Imagen 3 */
  font-weight: bold;
  color: rgb(0, 0, 0);
  color: white;
}

/* .slider3 p {                           Texto Chico de Imagen 3 - Esta comentado por si se necesitara despues
  font-weight: bold;
  color: rgb(0, 0, 0);
  color: white;
}
 */

/* ▲▲▲▲▲ FIN - Estilos de los textos las imagenes ▲▲▲▲▲  */

.cont_slider {
    max-width: 100vw;
    width: 100%;
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
  }
  .imgslider {
    max-width: 100vw;
    width: 100%;
    height: 400px;
    object-fit: cover;
  }
  .linea_slider {
    max-width: 100vw;
    width: 100%;
    height: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    position: relative;
    margin-top: 0px;
    background-color: #240B5C;
  }
  /* Media query mobile */
  @media screen and (min-width: 20px) and (max-width: 400px) {
    .imgslider {
        max-width: 1866px;
        width: 100%;
        height: 300px;
    }
    .linea_slider {
        max-width: 1866px;
        width: 100%;
        height: 3px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-content: stretch;
        position: relative;
        margin-top: 0px;
        background-color: #240B5C !important;
    }
  }