<div class="cont_slider">
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner slider1">
            <div class="carousel-item active">
                <img src="./assets/img/banner_01.jpg" class="imgslider" alt="banner01">
                <div class="carousel-caption d-none d-md-block">
                    <h1 class="display-5">{{ titulo1 }}</h1>
                    <p class="lead">{{ subtitulo1 }}</p>
                    <div class="btn-slider">>
                    </div>
                </div>
            </div>
            <div class="carousel-item slider2">
                <img src="./assets/img/banner_02.jpg" class="imgslider" alt="banner02">
                <div class="carousel-caption d-none d-md-block">
                    <h2 class="display-5 font-weight-bold">{{ titulo2 }}</h2>
                    <p class="lead font-weight-bold">{{ subtitulo2 }}</p>
                    <div class="btn-slider">
                    </div>
                </div>
            </div>
            <div class="carousel-item slider3">
                <img src="./assets/img/banner_03.jpg" class="imgslider" alt="banner03">
                <div class="carousel-caption d-none d-md-block">
                    <h2 class="display-5 font-weight-bold">{{ titulo3 }}</h2>
                    <p class="lead font-weight-bold">{{ subtitulo3 }}</p>
                    <div class="btn-slider">
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
<!-- Fin Slider -->

<!-- Inicio línea baja de slider -->
<div class="linea_slider">&nbsp;</div>
<!-- Fin línea baja de slider -->