<main class="flex-shrink-0">
    <!-- Section-->
    <section class="py-5">
        <div class="container px-5">
            <div class="row justify-content-center">
                <div class="col-lg-8 col-xxl-6">
                    <div class="text-center my-5">
                        <p>Desde hace 20 años, <strong>Travel Dreams</strong> ha sido la brújula que guía a aventureros
                            de todas las edades en sus viajes más esperados. Nuestra misión trasciende un simple
                            itinerario; es una promesa de aventura, descubrimiento y recuerdos que perduran toda la
                            vida.</p>
                        <a class="btn btn-lg btn-custom" href="#scroll-target">Ver más</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="p-5 page-section bg-light" id="team">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">Nuestro Equipo</h2>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div >
                        <img class="rounded-circle img-fluid" src="assets/img/A02_avatar_hombre.png" alt="..." />
                        <h5>Cantarino, Emmanuel</h5>
                        <p class="text-muted">Full Stack</p>
                        <a class="btn custom-btn btn-social mx-2" href="#!"><i class="fab fa-twitter"></i></a>
                        <a class="btn custom-btn btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn custom-btn btn-social mx-2" href="#!"><i class="fab fa-linkedin-in"></i></a>
                        <a class="btn custom-btn"  routerLink="/nosotros/1">Ver Perfil</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div >
                        <img class="rounded-circle img-fluid" src="assets/img/A02_avatar_hombre.png" alt="..." />
                        <h5>Fernandez, Claudio Ranses</h5>
                        <p class="text-muted">Full Stack</p>
                        <a class="btn custom-btn btn-social mx-2" href="#!"><i class="fab fa-twitter"></i></a>
                        <a class="btn custom-btn btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn custom-btn btn-social mx-2" href="#!"><i class="fab fa-linkedin-in"></i></a>
                        <a class="btn custom-btn"  routerLink="/nosotros/2">Ver Perfil</a>
                    </div>
                </div>
                <div class="col-md-4 ">
                    <div >
                        <img class="rounded-circle img-fluid"  src="assets/img/A01_avatar_mujer.png" alt="..." />
                        <h5>González, Natalia</h5>
                        <p class="text-muted">Full Stack</p>
                        <a class="btn custom-btn btn-social mx-2" href="#!"><i class="fab fa-twitter"></i></a>
                        <a class="btn custom-btn btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn custom-btn btn-social mx-2" href="#!"><i class="fab fa-linkedin-in"></i></a>
                        <a class="btn custom-btn"  routerLink="/nosotros/3" >Ver Perfil</a>
                    </div>
                </div>
                <div class="col-md-4 ">
                    <div >
                        <img class="rounded-circle img-fluid"  src="assets/img/A01_avatar_mujer.png" alt="..." />
                        <h5>Navarrete, Romina Gabriela</h5>
                        <p class="text-muted">Full Stack</p>
                        <a class="btn custom-btn btn-social mx-2" href="#!"><i class="fab fa-twitter"></i></a>
                        <a class="btn custom-btn btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn custom-btn btn-social mx-2" href="#!"><i class="fab fa-linkedin-in"></i></a>
                        <a class="btn custom-btn"  routerLink="/nosotros/4" >Ver Perfil</a>
                    </div>
                </div>
                <div class="col-md-4 ">
                    <div >
                        <img class="rounded-circle img-fluid"  src="assets/img/A02_avatar_hombre.png" alt="..." />
                        <h5>Oro, Elias</h5>
                        <p class="text-muted">Full Stack</p>
                        <a class="btn custom-btn btn-social mx-2" href="#!"><i class="fab fa-twitter"></i></a>
                        <a class="btn custom-btn btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn custom-btn btn-social mx-2" href="#!"><i class="fab fa-linkedin-in"></i></a>
                        <a class="btn custom-btn"  routerLink="/nosotros/5" >Ver Perfil</a>
                    </div>
                </div>
                <div class="col-md-4 ">
                    <div >
                        <img class="rounded-circle img-fluid"  src="assets/img/A02_avatar_hombre.png" alt="..." />
                        <h5>Ortiz, Fernando Ariel</h5>
                        <p class="text-muted">Full Stack</p>
                        <a class="btn custom-btn btn-social mx-2" href="#!"><i class="fab fa-twitter"></i></a>
                        <a class="btn custom-btn btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn custom-btn btn-social mx-2" href="#!"><i class="fab fa-linkedin-in"></i></a>
                        <a class="btn custom-btn"  routerLink="/nosotros/6" >Ver Perfil</a>
                    </div>
                </div>
                <div class="col-md-4 ">
                    <div >
                        <img class="rounded-circle img-fluid"  src="assets/img/A02_avatar_hombre.png" alt="..." />
                        <h5>Soto Valenzuela, Juan Gabriel</h5>
                        <p class="text-muted">Full Stack</p>
                        <a class="btn custom-btn btn-social mx-2" href="#!"><i class="fab fa-twitter"></i></a>
                        <a class="btn custom-btn btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn custom-btn btn-social mx-2" href="#!"><i class="fab fa-linkedin-in"></i></a>
                        <a class="btn custom-btn"  routerLink="/nosotros/7" >Ver Perfil</a>
                    </div>
                </div>
            </div>
        </div>
      </section>
    
</main>